.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.skew-block {
  position: absolute;
  height: 40px;
  width: 100%;
  background-color: $dark;
  border-radius: 0 5px 0 5px;

  &-left {
    bottom: 0;
    left: -60%;
    transform: skew(45deg);
    background-color: $main-color;
  }

  &-right {
    top: 0;
    right: -50%;
    transform: skew(45deg);
  }


}

.btn-special-animation {
  position: relative;
  transition: background-color .3s;
  overflow: hidden;
  z-index: 3;

  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s;
    z-index: -1;
  }

  &:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.section-heading {
  position: relative;
  margin-bottom: 1em;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: $pure-white;
  letter-spacing: 2px;
}

.section-padding {
  padding: 4em 2em;
}

@media(min-width: 768px) {
  .section-heading {
    font-size: 3.6rem;
  }

  .section-padding {
    padding: 8em 2em;
  }
}

@media(min-width: 992px) {
  .section-heading {
    font-size: 4.8rem;
  }

  .section-padding {
    padding: 10em 2em;
  }
}




// SECTION FUTURES CSS

@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

$gr-1:linear-gradient(170deg, #2e2e2e 10%, #fff 100%);
$gr-2:linear-gradient(170deg, #2e2e2e 10%, #fff 100%);
$gr-3:linear-gradient(170deg, #2e2e2e 10%, #fff 100%);

.gr-1 {
  background: $gr-1;
}

.gr-2 {
  background: $gr-2;
}

.gr-3 {
  background: $gr-3;
}

* {
  transition: .5s;
}

.h-100 {
  height: 100vh !important;
}

.align-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.column {
  margin-top: 3em;
  padding-left: 3em;

  &:hover {
    padding-left: 0;

    .card .txt {
      margin-left: 1em;

      h1,
      p {
        color: $pure-white;
        opacity: 1;
      }
    }

    a {
      color: $pure-white;

      &:after {
        width: 10%;
      }
    }
  }
}

.card {
  min-height: 170px;
  margin: 0;
  padding: 1.7em 1.2em;
  border: none;
  border-radius: 0;
  color: rgba(0, 0, 0, 1);
  letter-spacing: .05em;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 0 21px rgba(0, 0, 0, .27);

  .txt {
    margin-left: -3em;
    z-index: 1;

    h1 {
      font-size: 1.5rem;
      font-weight: 300;
      text-transform: uppercase;
    }

    p {
      font-size: 1.2rem;
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 0em;
      margin-top: 33px;
      opacity: 0;
      color: rgba(255, 255, 255, 1);
    }
  }

}

.ico-card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  i {
    position: relative;
    right: -50%;
    top: 60%;
    font-size: 12rem;
    line-height: 0;
    opacity: .2;
    color: $pure-white;
    z-index: 0;
  }
}


// SECTION ABOUT CSS 

@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

/* This pen */
body {
  font-family: "Poppins", cursive;
  font-size: 16px;
  color: $pure-white;
  text-rendering: optimizeLegibility;
  font-weight: initial;
}

.dark {
  background: #110f16;
}

a,
a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
  margin: 2em 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;

  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: $pure-white;

  &.dark {
    background-color: #18151f;
  }

  .t-dark {
    color: #18151f;
  }

  a {
    color: inherit;
  }

  h1,
  .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .small {
    font-size: 80%;
  }

  .postcard__title {
    font-size: 1.75rem;
  }

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }



  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  &:hover .postcard__bar {
    width: 150px;
  }
}

@media(min-width: 576px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3em;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcard__img {
      transform: scale(1.1);
    }

    &:nth-child(2n+1) {
      flex-direction: row;
    }

    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}

@media(min-width: 768px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;

    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.dark {
    .postcard__text:before {
      background: #18151f;
    }
  }

  .postcard.light {
    .postcard__text:before {
      background: #e1e5ea;
    }
  }
}

// ACCORDION SCSS ////////

